
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: orange;
  font-size: 18px;
}

div {
  line-height: 1px;
}

body, html {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  cursor: pointer;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.fa-bell {
  color: #1abc9c;
}

.fa-flag {
  color: #3498db;
}

.fa-map-marker {
  color: #e74c3c;
}
.fa-map-marker-2 {
  color: #2c3e50;
}
.fa-more-bgc {
  color: #2c3e50 !important;

  &:hover {
    color: #1abc9c !important;
  }
}
.fa-money {
  color: #27ae60;
}

.fa-tag {
  color: #ff9333;
}

.fa-envelope, .fa-phone {
  padding-right: 5px;
  color: #1abc9c;
}

.fa-long-arrow-right {
  color: #2c3e50;
}
.fa-chevron-circle-up {
  padding-left: 20px;
}
.fa-search {
  color: #68727d;
  -moz-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  -webkit-transform: rotate(450deg);
  -o-transform: rotate(450deg);
  transform: rotate(450deg);
}

.first-level {
  height: 39px;
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 0 13px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

  span {
    margin-right: 22px;
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 20px;
      color: #2c3e50;

      &:hover {
        color: #1abc9c;
      }
    }
  }
}

.second-level {
  padding: 33px 0 33px 0;

  .test {
    display: flex;
    justify-content: space-between;
  }
  .panel {
    display: flex;
    margin-top: 15px;

    li {
      padding-right: 54px;
      &:first-child {
        margin-left: 38px;
      }
    }
    a {
      font-size: 16px;
      color: #2c3e50;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;

      &:hover {
        text-decoration: none;
        color: #1abc9c;
      }
    }
  }
  .buttons {
    margin-top: 11px;

    .btn-top-panel {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 40px;
      font-size: 14px;
      font-weight: bold;

      img {
        margin-right: 8px;
        margin-top: -4px;
      }

      &:hover {
        background-color: #1abc9c;
      }
    }
  }
}

.third-level {
  background: url("../img/line-bg.png") no-repeat top center;
  width: 100%;
  height: 279px;

  .search-system {
    display: flex;

    .search {
      width: 338px;
      padding-top: 91px;

      .edit-text {
        background-color: #fff;
      }

      .edit-form {
        border-left: none;

        &::placeholder {
          font-size: 14px;
          color: #2c3e50;
          opacity: .8;
        }
      }
    }

    .btn-search {
      background-color: #1abc9c;
      border: 1px solid #1abc9c;
      padding: 8px 20px;
      margin-left: 10px;
      margin-top: -1px;
    }

    .edit-dropdown {
      width: 232px;
      padding-top: 91px;
      margin-left: 10px;

      .input-edit {
        border-right: none;
      }
      .edit-white-bg {
        background-color: #fff;
        border: none;
      }
    }
  }

}


.content {
  background-color: #f6f7f9;
  width: 100%;

  .side-bar {
    width: 350px;
    background-color: #fff;
    margin-top: 97px;

    .group-settings {
      border: 1px solid #dbdbdb;
    }

    .inner {
      width: 290px;
      padding: 40px 0;
      margin-left: 30px;

      h5 {
        font-size: 16px;
        color: #173350;
        font-weight: bold;
      }

      .title {
        height: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 19px;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          bottom: 0;
          left: 3px;
          height: 1px;
          width: 32px;
          background-color: #1abc9c;
        }
        .save-clear {
          color: #1385f6;
          font-size: 12px;

          span {
            padding-left: 10px;
          }
        }
      }
      .settings {

        .child {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e7eaed;
          padding: 24px 0 13px;

          &.another-style {
            font-size: 13px;
          }
          &.selected {
            color: #1abc9c;

          }

          &:last-child {
            border-bottom: none;
          }
        }

        .item {
          display: flex;
          border-bottom: 1px solid #e7eaed;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;

          &:hover span{
            color: #1abc9c;
          }

          span {
            color: #173350;
            font-size: 14px;
          }

          .container_2 {
            display: block;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .container_2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          .checkmark {
            position: absolute;
            top: 12px;
            left: 4px;
            height: 12px;
            width: 12px;
            background-color: #fff;
            border: 1px solid black;
          }
          .checkmark-radius {
            border-radius: 40px;
          }

          .container_2 input:checked ~ .checkmark {
            background-color: #1abc9c;
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          .container_2 input:checked ~ .checkmark:after {
            display: block;
          }

          .container_2 .checkmark:after {
            left: 3px;
            top: -2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      .edit-bg {
        background-color: #fff;
        border-left: none;
      }

      .input-group {
        margin-top: 19px;
      }

      .edit-form-second {
        border-right: none;

        &::placeholder {
          color: #2c3e50;
          opacity: 0.5;
        }
      }
    }
  }
  .top-panel {
    width: 780px;
    height: 56px;
    margin-top: 97px;
    background-color: #fff;
    display: flex;
    align-items: center;

    .shape {
      padding-left: 20px;
      width: 124px;
      a {
        color: #a8adb3;
        border: 1px solid #dbdbdb;
        padding: 0 4px;
        margin-right: 5px;

        &:hover {
          color: #1abc9c;
        }
      }
    }
    .email {
      padding-left: 33px;

      span {
        color: #2c3e50;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .quantity {
      color: #2c3e50;
      font-size: 14px;
      margin-left: 270px;
    }
  }
  .main-panel {

    .part {
      background-color: #fff;
      height: 183px;
      width: 100%;
      margin-top: 30px;
      display: flex;
      padding-top: 33px;
      position: relative;
    }
    .picture-company {

      margin-left: 29px;
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        display: block;
        background: url("../img/star.png") no-repeat;
        width: 43px;
        height: 25px;
        left: -30px;
        top: -10px;
      }
    }
    .name-company {
      margin-left: 31px;
      span {
        color: #ff2626;
        font-size: 13px;
      }
      h6 {
        color: #2c3e50;
        font-size: 16px;
      }
      .time {
        color: #2c3e50;
        font-size: 11px;
        opacity: 0.8;
        margin-left: 15px;
      }
      .info-company {
        width: 230px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 26px;

        span {
          color: #2c3e50;
          font-size: 13px;
          margin-left: 7px;
        }
      }
    }
    .more {
      position: absolute;
      bottom: 31px;
      right: 40px;

      a {
        border-right: 1px solid #e9ebed;
        padding-right: 10px;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .pages {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;

    a {
      padding: 5px 0;
      width: 34px;
      border: 1px solid #ebebeb;
      margin-right: 10px;
      text-align: center;
      color: #2c3e50;
      font-size: 14px;

      &:hover {
        background-color: #1abc9c;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #272727;
  height: 421px;
  padding-top: 80px;

  .top-footer {
    display: flex;

    .search-position {
      padding-right: 50px;

      p {
        font-size: 14px;
        color: #fff;
        margin-top: 27px;
      }

      h4 {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        margin-top: 31px;
      }
      .input-group-edit {
        width: 268px;
        margin-top: 20px;

        .form-control {
          border-radius: 0;


          &::placeholder {
            opacity: .5;
          }
        }

        .btn-outline-secondary {
          background-color: #1abc9c;
          color: #fff;
          border: none;
          font-size: 12px;
          border-radius: 0;
        }
      }
    }
    .three-column {
      display: flex;

      ul {
        margin-left: 90px;
      }

      a {
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        position: relative;
        line-height: 36px;
        text-decoration: none;

        &:after {
          content: ' ';
          display: block;
          width: 5px;
          height: 8px;
          background: url("../img/right-arrow.png") no-repeat;
          position: absolute;
          top: 6px;
        }
        &:hover {
          color: #1abc9c;
        }
      }
      .footer-title {
        font-size: 18px;
        color: #fff;
        padding-bottom: 5px;
      }
      .speacial-title {
        padding: 10px 0;
      }

      .fa-change {
        padding: 15px 0;
        background-color: #3a3a3a;
        border-radius: 40px;
        width: 45px;
        text-align: center;
        color: #fff;
        margin-right: 4px;
        cursor: pointer;
      }
    }
  }
}
.bottom-footer {
  padding: 20px 0;
  background-color: #3a3a3a;
  .settings-bottom-footer {
    display: flex;
    justify-content: space-between;

    span {
      color: #b1b1b1;
      font-size: 13px;
    }

    a {
      text-decoration: none;
      font-size: 14px;
      color: #fff;
    }
  }
}
